<a href="https://colab.research.google.com/github/tingweiwu17/colab_machine_learing/blob/main/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Datasets Source
This dataset was from the UCI ML Repository:
https://archive.ics.uci.edu/ml/datasets/ILPD+(Indian+Liver+Patient+Dataset)

## Dataset Information
This training dataset contains 467 records, including 333 liver patient records and 134 non liver patient records. The data set was collected from north east of Andhra Pradesh, India. Label field is a class label used to divide into groups(liver patient or not). Any patient whose age exceeded 89 is listed as being of age "90".

## Attribute Information:
1. Age: Age of the patient (年齡)
2. Gender: Gender of the patient (性別)
3. TB: Total Bilirubin (總膽紅素)
4. DB: Direct Bilirubin (直接型膽紅素/結合型膽紅素)
5. Alkphos: Alkaline Phosphotase (鹼性磷酸酶)
6. Sgpt: Alamine Aminotransferase (麩胺酸丙酮酸轉氨基酶/GPT)
7. Sgot: Aspartate Aminotransferase (麩胺酸苯醋酸轉氨基酶/GOT)
8. TP: Total Protiens (總蛋白)
9. ALB: Albumin (白蛋白)
10. A/G Ratio: Albumin and Globulin Ratio (白蛋白/球蛋白比值)
11. Label: used to split the data into two sets

## Additional information
[如何解讀肝功能檢驗報告]
https://www.jah.org.tw/form/index-1.asp?m=3&m1=8&m2=366&gp=361&id=522

### Download the training set

In [ ]:
# Download from Google Drive
!gdown --id 1Y2gYY8XUWgcIA_GbytBuXoRkLlAWxnAF

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1Y2gYY8XUWgcIA_GbytBuXoRkLlAWxnAF
To: /content/project1_indian_liver_patient.zip
100% 8.37k/8.37k [00:00<00:00, 9.24MB/s]

In [ ]:
!unzip project1_indian_liver_patient.zip
# if seeing the message: "replace project1_test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:"
# you may enter "A"

Archive:  project1_indian_liver_patient.zip
  inflating: project1_test.csv
  inflating: project1_train.csv

In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('project1_train.csv')
df.columns

Index(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Label'],
      dtype='object')

In [ ]:
df

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Label
0,40,Female,0.9,0.3,293,232,245,6.8,3.1,0.80,1
1,78,Male,1.0,0.3,152,28,70,6.3,3.1,0.90,1
2,60,Male,2.0,0.8,190,45,40,6.0,2.8,0.80,1
3,75,Male,10.6,5.0,562,37,29,5.1,1.8,0.50,1
4,19,Female,0.7,0.2,186,166,397,5.5,3.0,1.20,1
...,...,...,...,...,...,...,...,...,...,...,...
462,32,Male,0.7,0.2,276,102,190,6.0,2.9,0.93,1
463,58,Male,0.8,0.2,180,32,25,8.2,4.4,1.10,0
464,34,Male,5.9,2.5,290,45,233,5.6,2.7,0.90,1
465,36,Male,0.8,0.2,182,31,34,6.4,3.8,1.40,0
466,54,Male,2.2,1.2,195,55,95,6.0,3.7,1.60,1

In [ ]:
df['Gender'][df['Gender']=='Male']=1
df['Gender'][df['Gender']=='Female']=0

In [ ]:
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Label                         0
dtype: int64

In [ ]:
df =df.dropna(subset=["Albumin_and_Globulin_Ratio"])

In [ ]:
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Label                         0
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer
# 建立以平均值填補缺損值的實體
imp = SimpleImputer(strategy='most_frequent')  #mean, median, most_frequent
# 填補缺損值
imp.fit(df)
imp.transform(df)

array([[40, 0, 0.9, ..., 3.1, 0.8, 1],
       [78, 1, 1.0, ..., 3.1, 0.9, 1],
       [60, 1, 2.0, ..., 2.8, 0.8, 1],
       ...,
       [34, 1, 5.9, ..., 2.7, 0.9, 1],
       [36, 1, 0.8, ..., 3.8, 1.4, 0],
       [54, 1, 2.2, ..., 3.7, 1.6, 1]], dtype=object)

In [ ]:
y_train = np.array(df['Label']) 
x_train = np.array(df[["Age","Gender", "Total_Bilirubin", "Direct_Bilirubin",
       "Alkaline_Phosphotase", "Alamine_Aminotransferase",
       "Aspartate_Aminotransferase", "Total_Protiens", "Albumin","Albumin_and_Globulin_Ratio"]])

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
lr = LinearRegression()
# 學習
lr.fit(x_train, y_train)

LinearRegression()

In [ ]:
# 預測
df1 = pd.read_csv('project1_test.csv')
df1['Gender'][df1['Gender']=='Male']=1
df1['Gender'][df1['Gender']=='Female']=0
df1 =df1.dropna(subset=["Albumin_and_Globulin_Ratio"])
df1

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,18,1,0.8,0.2,282,72,140,5.5,2.5,0.80
1,34,1,4.1,2.0,289,875,731,5.0,2.7,1.10
2,49,1,2.0,0.6,209,48,32,5.7,3.0,1.10
3,65,1,7.9,4.3,282,50,72,6.0,3.0,1.00
4,40,0,0.9,0.3,293,232,245,6.8,3.1,0.80
...,...,...,...,...,...,...,...,...,...,...
111,50,1,5.8,3.0,661,181,285,5.7,2.3,0.67
112,21,1,0.7,0.2,135,27,26,6.4,3.3,1.00
113,27,1,0.7,0.2,243,21,23,5.3,2.3,0.70
114,48,1,0.7,0.2,208,15,30,4.6,2.1,0.80
115,65,1,0.8,0.2,201,18,22,5.4,2.9,1.10

In [ ]:
y_pred = lr.predict(df1)
a = np.around(y_pred)
print(a)
a.astype(int)

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1])

### Make prediction and submission file

In [ ]:
x_test = df1

df_submit = pd.DataFrame([], columns=['Id', 'Category'])
df_submit['Id'] = [f'{i:03d}' for i in range(len(x_test))]
df_submit['Category'] = a.astype(int)

In [ ]:
df_submit.to_csv('submission.csv', index=None)